################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFC.Swagger.Core/DFC.Swagger.Core/bin/Debug
/DFC.Swagger.Core/DFC.Swagger.Core/obj
/DFC.Swagger.Core/DFC.Swagger.Core.Tests/bin/Debug/netcoreapp2.1
/DFC.Swagger.Core/DFC.Swagger.Core.Tests/obj
/DFC.Swagger.Core/.vs/DFC.Swagger.Core/v15
/DFC.Swagger.Core/.vs/DFC.Swagger.Core/DesignTimeBuild/.dtbcache
/DFC.Swagger.Standard/.vs/DFC.Swagger.Standard/v15
/DFC.Swagger.Standard/DFC.Swagger.Standard/bin/Debug
/DFC.Swagger.Standard/DFC.Swagger.Standard/obj
/DFC.Swagger.Standard/DFC.Swagger.Standard.Tests/bin/Debug/netcoreapp2.1
/DFC.Swagger.Standard/DFC.Swagger.Standard.Tests/obj
